.product-container {
    position: relative;
    width: 80%;
    max-width: 700px;
    margin: 40px auto;
  }
  
  .product-day {
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 55px;
    text-align: center;
    color: #333;
    width: 100%;
  }
  
  .product-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .details-mobile {
    display: none;
  }
  .product-image-wrapper {
    position: relative;
    z-index: 1;
    flex-basis: 50%;
    left: -40%;
  }
  
  .product-image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .product-details-wrapper {
    position: absolute;
    z-index: 2;
    background-color: rgb(36 38 51);
    color: white;
    padding: 20px;
    width: 60%;
    right: -30%;
    top: 1%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 92%;
    text-align: left;
    padding-left: 6rem;
    padding-top: 3rem;
  }
  
  .product-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    align-items: flex-start;
  }
  
  .new-product {
    font-weight: bold;
    text-align: left;
    border-radius: 5px;
    width: fit-content;
    padding: 2px 10px;
    align-items: flex-start;
    justify-content: left;
  }
  
  .product-name {
    margin: 0;
    padding: 5px 0;
    font-size: 22px;
  }
  
  .product-stock {
    margin: 0;
    padding: 5px 0;
    font-size: 18px;
  }
  
  .product-description {
    margin: 0;
    padding: 5px 0;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .see-more {
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    align-self: flex-start;
    margin-top: 20px;
    border: 2px solid white;
  }
  
  .see-more:hover {
    background-color: #f0e68c;
    color: black;
  }
  @media (max-width: 750px) {
    .details-mobile {
      display: block;
    }
    .mobile-title {
      color: #d4af37;
    }
  }
  @media (max-width: 450px) {
    .product-day {
      font-size: 30px;
      margin-top: 2rem;
    }
  }